.venv
venv
*.pyc
dist
.env
/docker-compose.yml
/demo
docker.env
/Dockerfile
oidc.key
debug.log
.vscode
serviceAccountKey.json
/client-sites
/docker/mysql
/docker/rasa
/docker/internsearch-data1
/docker/internsearch-data2